 /* .bb {
    position: relative;
    margin-right: 90% !important;

} */

aside-right {
    padding: 55px 15px;
    margin-top: 50vh;
    margin-left: 270px;
    position: absolute;
    flex: 0;
    display: unset;
    border-color: navy !important;
    min-width: 250px;
    min-height: 100vh;
    border: .01mm ridge;
    background-image: url(https://pharmaphorum.com/wp-content/uploads/2022/05/iStock-944784934.jpg);
    background-position: 48% 123%;
    border-radius: 15px;
    background-size: 400%;
    box-shadow:
        1px 1px 20px 3px #ffffff,
        1px 1px 20px 4px #ff9838,
        2px 4px 30px 8px #00bfff,
        1px 1px 3px 1px #ff1a1a;    
}
aside {
    position: absolute;
    padding: 55px 15px;
    margin-top: -10px;
    flex: 1;
    flex-direction: column;
    display: unset;
    min-width: 250px;
    min-height: 50vh;
    border: .01mm ridge;
    background-image: url(https://pics.craiyon.com/2023-11-02/17cc8b6b847f4459af9fbc57836c9122.webp);
    background-position: center 74%;
    border-radius: 15px;
    background-size: 289%;
    border-color: white;
    border-block-color: white;
    /* box-shadow: 8px 8px 20px .5px rgba(0, 0, 255, .2); */
    box-shadow:
        1.4px 1px 6px .5px gray,
        1px 1px 2px 1px #000000,
        2px 5px 15px 5px white;
    writing-mode: horizontal-tb;
    margin-left: -5px;
}
#cursor-follower {
    width: 20px;
    height: 20px;
    background-color: #fff5f5;
    opacity: 50%;
    position: static;
    pointer-events: auto;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/8_ball_icon.svg/1200px-8_ball_icon.svg.png");
    background-size: contain;
    transform: translateX(10px) rotate(90deg);
    border-radius: 70%;
    transition: opacity 1s;
    animation: spin 2.5s infinite linear;
    visibility: visible;
}

@keyframes spin {
    50% {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #465767;
    border: white 3px;
    border-size: 3px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #ecf0f1;
}

.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 20px;
}

.content__container:before {
    content: "[";
    left: 0;
}

.content__container:after {
    content: "]";
    position: absolute;
    right: 0;
}

.content__container:after,
.content__container:before {
    position: absolute;
    top: 0;
    color: #85ff85;
    font-size: 30px;
    line-height: 30px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.content__container__text {
    display: inline;
    float: center;
    margin: 0;
}

.content__container__list {
    color: #85ff85;

    background-blend-mode: white;
    margin-top: 0;
    padding-left: 0px;
    text-align: center;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.content__container__list__item {
    line-height: 37px;
    margin: 1.3px;
}

@-webkit-keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {

    0%,
    12.66%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%,
    29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%,
    45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%,
    62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%,
    79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%,
    95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */


.profile-card {
    max-width: 450px;
    max-height: 300px;
    margin: 1% auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url('https://repository-images.githubusercontent.com/289382429/e9c6ec80-8902-11eb-9f55-5de819da8bf5');
    background-size: 1120px;
    position: relative;
    /* background-color: #1e3457; */
    border-radius: 0%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 90%;
    box-shadow: 0 3px 6px rgba(black, 0.8);
}

h2 {
    color: #d6d6d6;
    transition: 1.3s ease-in-out;
    font-variant-position: super;
    transition-delay: .1ms;
    transition-duration: 1.2s;
    transition-timing-function: linear;
}

/* p {
    color: #d6d6d6;
    border-bottom: 0.15px ridge #d6d6d6;
    border-radius: 10px;

} */

.profile-image {
    width: 100%;
    height: 130px;
    background-color: #0e0e0;
    position: relative;
}

.profile-image img {
    rotate: 5.3deg;
    width: 4.8cm;
    height: 4.31cm;
    border-radius: 95px;
    position: absolute;
    top: 48%;
    left: 1%;
    transform: translate(-50%, -50%);
}

.profile-info {
    padding: 15px
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
    color: #efe6e6;

}

.profile-info p {
    color: #1aff53;
    font-size: 16px;
    margin: 5px;
    margin-left: 10px;
}

h2 {
    font-optical-sizing: auto;
    bottom: 2%;
    position: absolute;
    font-family: sans-serif;
    background: linear-gradient(to right, #ededed, #00ff7b);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: -3px;
    margin-bottom: -20px;
    margin-left: 80px;

}

.profile-btn {
    display: inline-block;
    background-color: #0c0d0c;
    padding: 10px 15px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 40px;
    margin-bottom: -25px;
    margin-left: -5px;

}

.profile-btn:hover {
    background-color: #45a049;
}

img {
    margin-left: 91.5%;
    margin-bottom: 0;
    /* }
.contact-info {
    padding: 15px;
    color: #ffff;
    margin-left: 68%;
    margin-bottom: 10%
} */

    .column {
        /* flex-shrink: ;
        flex-direction: column; */
        height: 90vh;
        width: 00px;
        font-size: 20px;
        padding: 1px;
        /* flex-basis: 1;
        flex-grow: 1;
        margin: 0 20px; */
        background-color: rgba(69, 54, 54, .25);
        text-shadow: #b7ae8a 50px 0 100px;
        min-height: 200px;
        color: #181816;
        text-align: center;
    }